:root {
    --bp-white: #fff8e5;
    --bp-yellow-500: #ffe88d;
    --bp-yellow-300: #ffd942;
    --bp-yellow-200: rgb(251,202,4);
    --bp-orange: #ff8000;
    --bp-black: #302014;
}

html {
    background: var(--bp-white);
    color:var(--bp-black);
    font-family:'Onest', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
}

h1 {
    font-weight: 500;
    font-size: 4em;
    color: var(--bp-black);
}

h2 {
    font-weight: 300;
    font-size:2.6em;
    line-height: 1.5em;
}

h3 {
    font-weight: 300;
    font-size: 1.6em;
    line-height: 1.5em;
}

h4 {
    font-weight: 600;
    font-size:1em;
    margin:0.5em 0;
}

p {
    line-height: 1.8em;
}

.small {
    font-size: 0.85em;
}

.text-center{text-align: center;}
.text-right {text-align: right;}
.grid-v-center {align-items: center;}

.button-primary {
    background: var(--bp-orange);
    color:var(--bp-white);
    border:1px solid var(--bp-orange);
}

.button-primary:hover {
    background:var(--bp-white);
    color:var(--bp-orange);
    border:1px solid var(--bp-orange);
}

a.link-inline {
    text-decoration: none;
    border-bottom:1px solid var(--bp-orange);
    color: var(--bp-orange);
    font-weight: 500;
    padding: 0 0.2em;
}

a.link-inline:focus, a.link-inline:hover {
    border-bottom:none;
    background: var(--bp-orange);
    color:var(--bp-white);
}

a.link-inline:active {
    border-bottom:1px solid var(--bp-orange);
}

.content {
    padding:1em 2em;
    max-width:64em;
    margin:0 auto;
}

.logo {
    font-weight: 700;
    letter-spacing:-0.02em;
}

.logo-mark {
    fill:var(--bp-orange);
}

#logo-flying-bee {
    opacity: 0;
}

.logo-letter {
    display:inline-block;
}

.header .logo {
    position:relative;
}

.header .logo-mark {
    height: 2.1em; 
    position:absolute;
    z-index: 10;
}

.header .logo-text {
    line-height: 2.1em;
    padding-left: 2.5em;
}

.hero .logo {
    font-size:6.5em;
}

.footer  .logo {
    font-size: 1.8em;
} 

.footer .logo-mark {
    height: 55px;
    top:0.5em;
    position: relative;
}

.hero a.link-inline:focus, .hero a.link-inline:hover {
    background: var(--bp-white);
    color:var(--bp-orange);
}

.hero {
    padding-top: 5em;
    padding-bottom:4em;
    background: var(--bp-yellow-300);
    background: linear-gradient(0deg, var(--bp-yellow-500) 0%, rgba(255, 217, 66, 0) 80%);
}

.top-bg {
    background-color: var(--bp-yellow-300);
}
.top-bg-inner {
    background-image: url('../img/logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 20%;
}
.hero .content {
    max-width:50em;
    text-align: center;
}

.services{
    padding: 4em 0 6em 0;
}   

.service-sub {
    border-bottom:1px solid var(--bp-black);
    padding-bottom:1.6em;
    margin-bottom:2.6em;
}

.projects {
    background:var(--bp-yellow-500);
    padding:4em 0 6em 0;
}

#contact {
    background:var(--bp-white);
    padding:2em 0 4.5em 0;
}

.solutions {
    position: relative;
}

.solution {
    position:absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
    width:100%;
}

.footer {
    padding:2.5em 0 2em;
    background-color: var(--bp-yellow-300);
    background-image: url('../img/hex-tile.svg');
    background-size: 20%;
    background-position: center;
}

#logo-animated {
    fill:var(--bp-yellow-300);
    stroke:var(--bp-yellow-300);
}

#hex-grid {overflow:visible}
#hex-grid polygon {
    opacity: 0;
    fill: var(--bp-yellow-200);
    stroke: var(--bp-white);
    stroke-width: 2;
}

@media screen and (min-width: 48em)	{

    .hero .logo {
        font-size:7em;
    }

    .footer {
        background-size: 7%;
    } 
    
}

@media screen and (min-width: 64em) {
    .hero .logo {
        font-size:8em;
    }
    #contact {
        padding:4em 0 5em;
    }    
}