:root {
    --bp-white: #fffbf1;
    --bp-light-yellow: #FEE6A4;
    --bp-yellow: #F9D859;
    --bp-orange: #E5930E;
    --bp-red: #8B290D;
    --bp-brown: #5E2511;
    --bp-black: #302014;
}

html {
    background: var(--bp-yellow);
    color:var(--bp-black);
    font-family:'Onest', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
}

h1 {
    font-weight: 500;
    font-size: 3.2em;
    color: var(--bp-black);
}

h2 {
    font-weight: 300;
    font-size:2.2em;
}

h3 {
    font-weight: 300;
    font-size: 1.5em;
}

p {
    line-height: 1.8em;
}

.lead {
    line-height: 2em;
    font-size:1.2em;
}

.small {
    font-size: 0.85em;
}

.text-center{text-align: center;}
.text-right {text-align: right;}

.button-primary {
    background-color: var(--bp-red);
    color:var(--bp-white);
}

a.inline-link {
    text-decoration: none;
    border-bottom:1px solid var(--bp-red);
    color: var(--bp-red);
    font-weight: 600;
    padding: 0 0.2em;
}

a.inline-link:focus, a.inline-link:hover {
    border-bottom:none;
    background: var(--bp-red);
    color:var(--bp-white);
}

a.inline-link:active {
    border-bottom:1px solid var(--bp-red);
}

.content {
    padding:1em 2em;
    max-width:64em;
    margin:0 auto;
}

.services {
    background: var(--bp-white);
}
.logo {
    font-weight: 700;
    letter-spacing:-0.05em;
}
.logo-mark {
    position:relative;
    fill:var(--bp-orange);
}
.logo-text {
    padding-left:0.2em;
}

.header .logo-mark {
    height: 36px; 
    top:0.7em;
}

.footer .logo-mark {
    height: 55px;
    top:0.5em;
}

.hero .logo-mark {
    height: 1.3em;
    top:0.3em;
}
.header {
    background: var(--bp-yellow);
}

.hero a.inline-link:focus, .hero a.inline-link:hover {
    background: var(--bp-white);
    color:var(--bp-red);
}

.header .logo {
    padding:0.5em 0;
}

.hero {
    margin-top:4.3em;
    padding-bottom:2em;
    background: var(--bp-yellow);
    background: linear-gradient(0deg, var(--bp-light-yellow) 0%, var(--bp-yellow) 100%);
}

.hero .content {
    max-width:50em;
    text-align: center;
}

.hero .logo {
    padding-top:0.5em;
    padding-bottom:0.2em;
    font-size:6em;
}

.services{
    padding:3em 0;
}

.projects {
    background:var(--bp-white);
    padding-bottom: 3em;
}

.projects h1 {margin-bottom:0;}

.footer {
    padding:1em 0;
    background-image: url("../img/bg-yellow.png");
    background-repeat:no-repeat;
    background-size: cover;
}

.footer  .logo {
    padding-top:3em;
    font-size: 1.8em;
}